/* color palette */
/* green: #009688; */
/* beige: #DBDBD4; */
/* lightblue: #8EDAFC; */

body{
    height: 100vh;
    background-image: linear-gradient(to bottom, #009688 20%, #D7DBD7 18% 100%);
}

li{
    padding: 0 10px;
}

i{
    font-size: 20px;
}

.box{
    margin: 0 auto;
    height: 650px;
    border: 1px dashed black;
    background-color: #fff;
    margin-top: 30px;
}

/* ASIDE */
aside{
    width: 30%;
    background-color: #EAEAEA;
    border-right: 1px solid blue;
}

.username{
  width: 100%;
  height: 80px;
  background-color: #EAEAEA;
}



.username img{
    width: 50px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.notify{
    width: 100%;
    height: 80px;
    background-color: #8EDAFC;
}


.search{
    padding-top: 10px;
}

.search input{
    width: 90%;
    height: 30px;
    font-size: 0.8rem;
    margin-left: 20px;
    margin-bottom: 10px;
}

.main-side{
    height: 438px;
    background-color: #fff;
    overflow-y: auto;
}

.main-side img{
    width: 80px;
}

/* MAIN */
main{
    width: 70%;
}
main .contact-info{
    height: 80px;
    background-color: #EAEAEA;
}


.contact-info img{
    width: 50px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.chat-panel{
    height: calc(100% - 160px);
    background-image: url(../img/mine.jpg);
}

.type-panel input{
    width: 650px;
    height: 40px;
    font-size: 1rem;
}

.bi-emoji-smile, .bi-mic-fill{
    font-size: 30px;
}